<div class="container" ng-controller="allMatchDetails as innings" >
    <p class="font_change text-center" style="padding-top: 20px;color: white" ><b>Kindly Select match series and its corresponding match.</b></p>
    <div style="text-align:center">
        <select  ng-model="member" ng-options="x.name for x in innings.match_data_array" class="btn btn-default btn-select btn-select-light text-center" style="text-align:center"></select>
        <select ng-model="data2" ng-options="matches.team1.name + ' vs ' + matches.team2.name for matches in member.matches" class="btn btn-default btn-select"style="text-align:center"></select><br>

    </div>

    <table class="table table-striped table-bordered table-responsive styling font_change" ng-show="innings.check_empty_rows()" id="tbl">
        <tr>
            <!--<td>{{"Date"}}</td>-->
            <td>{{data2.date}} </td>
            <td></td>

        <tr>
            <td>{{data2.team1.name}} </td>
            <td>{{data2.score1}} </td>
        </tr>
        <tr>
            <td>{{data2.team2.name}}</td>
            <td>{{data2.score2}}</td>
        </tr>
    </table>
</div>
